In [2]:
import pandas as pd
# reading csv files
colTitles = ['age','workclass','fnlwgt','education','education-num'\
             ,'marital-status','occupation','relationship','race','sex'\
             ,'capital-gain','capital-loss','hours-per-week','native-country','income']
data =  pd.read_csv('adult.data', sep=",",names=colTitles)
data = data.drop(columns=['fnlwgt','education-num','relationship','capital-gain','capital-loss'])
print(data)

       age          workclass  ...  native-country  income
0       39          State-gov  ...   United-States   <=50K
1       50   Self-emp-not-inc  ...   United-States   <=50K
2       38            Private  ...   United-States   <=50K
3       53            Private  ...   United-States   <=50K
4       28            Private  ...            Cuba   <=50K
...    ...                ...  ...             ...     ...
32556   27            Private  ...   United-States   <=50K
32557   40            Private  ...   United-States    >50K
32558   58            Private  ...   United-States   <=50K
32559   22            Private  ...   United-States   <=50K
32560   52       Self-emp-inc  ...   United-States    >50K

[32561 rows x 10 columns]

In [3]:
rows = data.shape[0]
for row in range(rows):
  # age: 5 years per class
  data.iloc[row,0] = data.iloc[row,0]//5
  # hours-per-week: 10 hrs per class
  data.iloc[row,7] = data.iloc[row,7]//10
  # income: 1: >50k, 0:<= 50k
  if data.iloc[row,9] == ' <=50K':
    data.iloc[row,9] = 0
  else:
    data.iloc[row,9] = 1
print(data)

# remove all spaces and remove rows that contains ?
for i in range(10):
    if i not in [0,7,9]:
        data.iloc[:,i] = data.iloc[:,i].str.strip()
    data = data[data.iloc[:,i] != '?']

       age          workclass  ...  native-country income
0        7          State-gov  ...   United-States      0
1       10   Self-emp-not-inc  ...   United-States      0
2        7            Private  ...   United-States      0
3       10            Private  ...   United-States      0
4        5            Private  ...            Cuba      0
...    ...                ...  ...             ...    ...
32556    5            Private  ...   United-States      0
32557    8            Private  ...   United-States      1
32558   11            Private  ...   United-States      0
32559    4            Private  ...   United-States      0
32560   10       Self-emp-inc  ...   United-States      1

[32561 rows x 10 columns]

In [4]:
! pip install apyori
import numpy as np
import matplotlib.pyplot as plt
from apyori import apriori

Collecting apyori
  Downloading apyori-1.1.2.tar.gz (8.6 kB)
Building wheels for collected packages: apyori
  Building wheel for apyori (setup.py) ... done
  Created wheel for apyori: filename=apyori-1.1.2-py3-none-any.whl size=5974 sha256=b24d884462724dbc732df919ba8887f81f6acf335887ed7604a54826ae71e2b3
  Stored in directory: /root/.cache/pip/wheels/cb/f6/e1/57973c631d27efd1a2f375bd6a83b2a616c4021f24aab84080
Successfully built apyori
Installing collected packages: apyori
Successfully installed apyori-1.1.2

In [5]:
rows = data.shape[0]
cols = data.shape[1]
attributes = list(data.columns)
dataList = []
for row in range(rows):
  oneRow = []
  for col in range(cols):
    oneRow.append(attributes[col]+':'+str(data.iloc[row,col]))
  dataList.append(oneRow)
print(dataList[0:10])

[['age:7', 'workclass:State-gov', 'education:Bachelors', 'marital-status:Never-married', 'occupation:Adm-clerical', 'race:White', 'sex:Male', 'hours-per-week:4', 'native-country:United-States', 'income:0'], ['age:10', 'workclass:Self-emp-not-inc', 'education:Bachelors', 'marital-status:Married-civ-spouse', 'occupation:Exec-managerial', 'race:White', 'sex:Male', 'hours-per-week:1', 'native-country:United-States', 'income:0'], ['age:7', 'workclass:Private', 'education:HS-grad', 'marital-status:Divorced', 'occupation:Handlers-cleaners', 'race:White', 'sex:Male', 'hours-per-week:4', 'native-country:United-States', 'income:0'], ['age:10', 'workclass:Private', 'education:11th', 'marital-status:Married-civ-spouse', 'occupation:Handlers-cleaners', 'race:Black', 'sex:Male', 'hours-per-week:4', 'native-country:United-States', 'income:0'], ['age:5', 'workclass:Private', 'education:Bachelors', 'marital-status:Married-civ-spouse', 'occupation:Prof-specialty', 'race:Black', 'sex:Female', 'hours-per-week:4', 'native-country:Cuba', 'income:0'], ['age:7', 'workclass:Private', 'education:Masters', 'marital-status:Married-civ-spouse', 'occupation:Exec-managerial', 'race:White', 'sex:Female', 'hours-per-week:4', 'native-country:United-States', 'income:0'], ['age:9', 'workclass:Private', 'education:9th', 'marital-status:Married-spouse-absent', 'occupation:Other-service', 'race:Black', 'sex:Female', 'hours-per-week:1', 'native-country:Jamaica', 'income:0'], ['age:10', 'workclass:Self-emp-not-inc', 'education:HS-grad', 'marital-status:Married-civ-spouse', 'occupation:Exec-managerial', 'race:White', 'sex:Male', 'hours-per-week:4', 'native-country:United-States', 'income:1'], ['age:6', 'workclass:Private', 'education:Masters', 'marital-status:Never-married', 'occupation:Prof-specialty', 'race:White', 'sex:Female', 'hours-per-week:5', 'native-country:United-States', 'income:1'], ['age:8', 'workclass:Private', 'education:Bachelors', 'marital-status:Married-civ-spouse', 'occupation:Exec-managerial', 'race:White', 'sex:Male', 'hours-per-week:4', 'native-country:United-States', 'income:1']]

In [10]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('max_colwidth', None)
rules = apriori(transactions = dataList, min_support = 0.01, min_confidence = 0.5, min_lift = 3, min_length = 4, max_length = 4)
print(rules)
results = list(rules)
results

def inspect(results):
    lhs         = [tuple(result[2][0][0]) for result in results]
    rhs         = [tuple(result[2][0][1]) for result in results]
    supports    = [result[1] for result in results]
    confidences = [result[2][0][2] for result in results]
    lifts       = [result[2][0][3] for result in results]
    return list(zip(lhs, rhs, supports, confidences, lifts))
resultsinDataFrame = pd.DataFrame(inspect(results), columns = ['Left Hand Side', 'Right Hand Side', 'Support', 'Confidence', 'Lift'])
resultsinDataFrame

<generator object apriori at 0x7f04dc7727d0>

,Left Hand Side,Right Hand Side,Support,Confidence,Lift
0,"(age:3,)","(marital-status:Never-married,)",0.044128,0.972243,3.015091
1,"(education:Doctorate,)","(occupation:Prof-specialty,)",0.010013,0.805333,6.015469
2,"(education:Masters,)","(occupation:Prof-specialty,)",0.027153,0.503380,3.760020
3,"(education:Prof-school,)","(income:1,)",0.013461,0.749077,3.009280
4,"(education:Prof-school,)","(occupation:Prof-specialty,)",0.014687,0.817343,6.105177
5,"(age:3, education:11th)","(marital-status:Never-married,)",0.010974,0.982196,3.045958
6,"(age:3, education:Some-college)","(marital-status:Never-married,)",0.011074,0.988166,3.064472
7,"(age:3, hours-per-week:1)","(marital-status:Never-married,)",0.010212,0.993548,3.081165
8,"(age:3, hours-per-week:2)","(marital-status:Never-married,)",0.014290,0.981777,3.044659
9,"(age:3,)","(marital-status:Never-married, income:0)",0.044095,0.971512,3.165811
10,"(age:3,)","(native-country:United-States, marital-status:Never-married)",0.041940,0.924032,3.140002
11,"(age:3, occupation:Other-service)","(marital-status:Never-married,)",0.014323,0.977376,3.031010
12,"(age:3, occupation:Sales)","(marital-status:Never-married,)",0.010046,0.980583,3.040955
13,"(age:3,)","(marital-status:Never-married, race:White)",0.039420,0.868517,3.259857
14,"(age:3, sex:Male)","(marital-status:Never-married,)",0.022976,0.980198,3.039763
15,"(age:3,)","(marital-status:Never-married, workclass:Private)",0.039984,0.880935,3.310998
16,"(education:Bachelors, workclass:Local-gov)","(occupation:Prof-specialty,)",0.010311,0.661702,4.942610
17,"(education:Masters, hours-per-week:4)","(occupation:Prof-specialty,)",0.014522,0.524551,3.918154
18,"(education:Masters, income:0)","(occupation:Prof-specialty,)",0.013693,0.582511,4.351086
19,"(marital-status:Married-civ-spouse, education:Masters)","(income:1,)",0.024468,0.783439,3.147323
20,"(occupation:Exec-managerial, education:Masters)","(income:1,)",0.012168,0.747454,3.002759
21,"(native-country:United-States, education:Masters)","(occupation:Prof-specialty,)",0.024799,0.504043,3.764970
22,"(education:Masters, race:White)","(occupation:Prof-specialty,)",0.024169,0.500000,3.734770
23,"(education:Masters, sex:Female)","(occupation:Prof-specialty,)",0.010974,0.650295,4.857402
24,"(marital-status:Married-civ-spouse, education:Prof-school)","(income:1,)",0.010974,0.857513,3.444900
25,"(native-country:United-States, education:Prof-school)","(income:1,)",0.012168,0.752049,3.021218
26,"(education:Prof-school,)","(income:1, occupation:Prof-specialty)",0.011339,0.630996,10.509172
27,"(education:Prof-school,)","(income:1, race:White)",0.012234,0.680812,3.002580
28,"(education:Prof-school,)","(income:1, sex:Male)",0.012068,0.671587,3.167042
29,"(education:Prof-school,)","(marital-status:Married-civ-spouse, occupation:Prof-specialty)",0.010444,0.581181,8.484790
30,"(education:Prof-school,)","(native-country:United-States, occupation:Prof-specialty)",0.013361,0.743542,6.072767
31,"(education:Prof-school,)","(race:White, occupation:Prof-specialty)",0.013328,0.741697,6.257644
32,"(education:Prof-school,)","(sex:Male, occupation:Prof-specialty)",0.012367,0.688192,8.149683
33,"(marital-status:Married-civ-spouse, occupation:Farming-fishing)","(workclass:Self-emp-not-inc,)",0.010444,0.547826,6.612057
34,"(age:3, education:11th)","(marital-status:Never-married, income:0)",0.010974,0.982196,3.200626
35,"(age:3, education:11th)","(native-country:United-States, marital-status:Never-married)",0.010444,0.934718,3.176314
36,"(age:3, education:HS-grad)","(marital-status:Never-married, income:0)",0.011637,0.946092,3.082975
37,"(age:3, education:HS-grad)","(native-country:United-States, marital-status:Never-married)",0.011272,0.916442,3.114210
38,"(age:3, education:HS-grad)","(marital-status:Never-married, race:White)",0.010245,0.832884,3.126114
39,"(age:3, education:HS-grad)","(marital-status:Never-married, workclass:Private)",0.010775,0.876011,3.292491
40,"(age:3, education:Some-college)","(marital-status:Never-married, income:0)",0.011074,0.988166,3.220079
41,"(age:3, education:Some-college)","(native-country:United-States, marital-status:Never-married)",0.010609,0.946746,3.217186
42,"(age:3, education:Some-college)","(marital-status:Never-married, race:White)",0.010278,0.917160,3.442431
43,"(age:3, hours-per-week:1)","(marital-status:Never-married, income:0)",0.010212,0.993548,3.237620
44,"(age:3, hours-per-week:2)","(marital-status:Never-married, income:0)",0.014290,0.981777,3.199260
45,"(age:3, hours-per-week:2)","(native-country:United-States, marital-status:Never-married)",0.013892,0.954442,3.243339
46,"(age:3, hours-per-week:2)","(marital-status:Never-married, race:White)",0.012864,0.883827,3.317320
47,"(age:3, hours-per-week:2)","(marital-status:Never-married, workclass:Private)",0.013593,0.933941,3.510221
48,"(age:3,)","(native-country:United-States, marital-status:Never-married, income:0)",0.041907,0.923302,3.301556
49,"(age:3, occupation:Other-service)","(marital-status:Never-married, income:0)",0.014290,0.975113,3.177546
50,"(age:3, occupation:Sales)","(marital-status:Never-married, income:0)",0.010046,0.980583,3.195368
51,"(age:3,)","(marital-status:Never-married, race:White, income:0)",0.039387,0.867787,3.434031
52,"(age:3, sex:Female)","(marital-status:Never-married, income:0)",0.021152,0.963746,3.140505
53,"(age:3, sex:Male)","(marital-status:Never-married, income:0)",0.022943,0.978784,3.189506
54,"(age:3,)","(income:0, marital-status:Never-married, workclass:Private)",0.039951,0.880205,3.445202
55,"(age:3, occupation:Other-service)","(native-country:United-States, marital-status:Never-married)",0.013593,0.927602,3.152132
56,"(age:3,)","(native-country:United-States, marital-status:Never-married, race:White)",0.037829,0.833455,3.356746
57,"(age:3, sex:Female)","(native-country:United-States, marital-status:Never-married)",0.020423,0.930514,3.162027
58,"(age:3, sex:Male)","(native-country:United-States, marital-status:Never-married)",0.021517,0.917963,3.119379
59,"(age:3,)","(native-country:United-States, marital-status:Never-married, workclass:Private)",0.038061,0.838568,3.479078
60,"(age:3, occupation:Other-service)","(marital-status:Never-married, race:White)",0.012367,0.843891,3.167428
61,"(age:3, occupation:Other-service)","(marital-status:Never-married, workclass:Private)",0.013328,0.909502,3.418369
62,"(age:3, sex:Female)","(marital-status:Never-married, race:White)",0.018798,0.856495,3.214736
63,"(age:3, sex:Male)","(marital-status:Never-married, race:White)",0.020622,0.879774,3.302107
64,"(age:3,)","(marital-status:Never-married, race:White, workclass:Private)",0.035840,0.789627,3.561116
65,"(age:3, sex:Female)","(marital-status:Never-married, workclass:Private)",0.019428,0.885196,3.327015
66,"(age:3, sex:Male)","(marital-status:Never-married, workclass:Private)",0.020556,0.876945,3.296001
67,"(hours-per-week:2, age:4)","(education:Some-college, income:0)",0.010212,0.595745,3.363694
68,"(hours-per-week:2, age:4)","(marital-status:Never-married, income:0)",0.015947,0.930368,3.031736
69,"(hours-per-week:2, age:4)","(marital-status:Never-married, workclass:Private)",0.013991,0.816248,3.067870
70,"(hours-per-week:3, age:4)","(marital-status:Never-married, workclass:Private)",0.016179,0.807947,3.036673
71,"(occupation:Adm-clerical, age:4)","(marital-status:Never-married, sex:Female)",0.012798,0.635914,4.448156
72,"(occupation:Sales, age:4)","(marital-status:Never-married, workclass:Private)",0.014256,0.826923,3.107994
73,"(sex:Female, age:9, income:0)","(marital-status:Divorced,)",0.013726,0.514286,3.681036
74,"(marital-status:Never-married, hours-per-week:4, occupation:Prof-specialty)","(education:Bachelors,)",0.010643,0.503135,3.008634
75,"(marital-status:Married-civ-spouse, education:Bachelors, hours-per-week:5)","(income:1,)",0.014555,0.760832,3.056501
76,"(marital-status:Married-civ-spouse, education:Bachelors, occupation:Exec-managerial)","(income:1,)",0.021451,0.786148,3.158205
77,"(marital-status:Married-civ-spouse, education:Masters, hours-per-week:4)","(income:1,)",0.012466,0.780083,3.133839
78,"(native-country:United-States, education:Masters, hours-per-week:4)","(occupation:Prof-specialty,)",0.013295,0.531126,3.967265
79,"(race:White, education:Masters, hours-per-week:4)","(occupation:Prof-specialty,)",0.012831,0.525815,3.927597
80,"(education:Masters, income:0)","(native-country:United-States, occupation:Prof-specialty)",0.012400,0.527504,4.308303
81,"(education:Masters, income:0)","(race:White, occupation:Prof-specialty)",0.012101,0.514810,4.343409
82,"(marital-status:Married-civ-spouse, education:Masters)","(income:1, native-country:United-States)",0.022479,0.719745,3.103496
83,"(marital-status:Married-civ-spouse, education:Masters, occupation:Prof-specialty)","(income:1,)",0.011074,0.771363,3.098806
84,"(marital-status:Married-civ-spouse, education:Masters)","(income:1, race:White)",0.022379,0.716561,3.160242
85,"(marital-status:Married-civ-spouse, education:Masters)","(income:1, sex:Male)",0.021517,0.688960,3.248968
86,"(marital-status:Married-civ-spouse, education:Masters, workclass:Private)","(income:1,)",0.013626,0.804305,3.231148
87,"(native-country:United-States, education:Masters, occupation:Exec-managerial)","(income:1,)",0.011272,0.748899,3.008562
88,"(occupation:Exec-managerial, education:Masters)","(income:1, race:White)",0.011107,0.682281,3.009060
89,"(occupation:Exec-managerial, education:Masters)","(income:1, sex:Male)",0.010510,0.645621,3.044594
90,"(native-country:United-States, education:Masters, race:White)","(occupation:Prof-specialty,)",0.023407,0.507549,3.791154
91,"(education:Masters, sex:Female)","(native-country:United-States, occupation:Prof-specialty)",0.010344,0.612967,5.006309
92,"(marital-status:Married-civ-spouse, education:Prof-school)","(income:1, race:White)",0.010013,0.782383,3.450541
93,"(education:Prof-school,)","(income:1, marital-status:Married-civ-spouse, sex:Male)",0.010245,0.570111,3.017315
94,"(education:Prof-school,)","(income:1, native-country:United-States, occupation:Prof-specialty)",0.010344,0.575646,10.522804
95,"(education:Prof-school,)","(income:1, native-country:United-States, race:White)",0.011737,0.653137,3.012678
96,"(education:Prof-school,)","(income:1, native-country:United-States, sex:Male)",0.010941,0.608856,3.075585
97,"(education:Prof-school,)","(income:1, race:White, occupation:Prof-specialty)",0.010444,0.581181,10.656277
98,"(education:Prof-school,)","(income:1, sex:Male, occupation:Prof-specialty)",0.010245,0.570111,12.016547
99,"(education:Prof-school,)","(income:1, race:White, sex:Male)",0.010974,0.610701,3.139054
100,"(education:Prof-school,)","(native-country:United-States, race:White, occupation:Prof-specialty)",0.012798,0.712177,6.330883
101,"(education:Prof-school,)","(native-country:United-States, sex:Male, occupation:Prof-specialty)",0.011206,0.623616,8.132085
102,"(education:Prof-school,)","(race:White, sex:Male, occupation:Prof-specialty)",0.011239,0.625461,8.245263
103,"(marital-status:Divorced, occupation:Adm-clerical)","(hours-per-week:4, sex:Female)",0.016246,0.602706,3.471228
104,"(marital-status:Married-civ-spouse, hours-per-week:5, occupation:Exec-managerial)","(income:1,)",0.015848,0.775974,3.117332
105,"(marital-status:Married-civ-spouse, hours-per-week:5, occupation:Prof-specialty)","(income:1,)",0.010808,0.768868,3.088785
106,"(marital-status:Married-civ-spouse, workclass:Self-emp-inc)","(income:1, sex:Male)",0.017141,0.644638,3.039960
107,"(marital-status:Married-civ-spouse, occupation:Farming-fishing)","(native-country:United-States, workclass:Self-emp-not-inc)",0.010145,0.532174,6.939658
108,"(marital-status:Married-civ-spouse, occupation:Farming-fishing)","(race:White, workclass:Self-emp-not-inc)",0.010212,0.535652,6.981997
109,"(marital-status:Married-civ-spouse, occupation:Farming-fishing)","(workclass:Self-emp-not-inc, sex:Male)",0.010178,0.533913,7.643040
110,"(native-country:United-States, occupation:Farming-fishing, race:White)","(workclass:Self-emp-not-inc,)",0.013593,0.500611,6.042182
111,"(workclass:Local-gov, race:White, sex:Female)","(occupation:Prof-specialty,)",0.010775,0.504658,3.769566