In [1]:
import pandas as pd
# reading csv files
colTitles = ['age','workclass','fnlwgt','education','education-num'\
             ,'marital-status','occupation','relationship','race','sex'\
             ,'capital-gain','capital-loss','hours-per-week','native-country','income']
data =  pd.read_csv('adult.data', sep=",",names=colTitles)
data = data.drop(columns=['fnlwgt','education-num','relationship','capital-gain','capital-loss'])
print(data)

       age          workclass  ...  native-country  income
0       39          State-gov  ...   United-States   <=50K
1       50   Self-emp-not-inc  ...   United-States   <=50K
2       38            Private  ...   United-States   <=50K
3       53            Private  ...   United-States   <=50K
4       28            Private  ...            Cuba   <=50K
...    ...                ...  ...             ...     ...
32556   27            Private  ...   United-States   <=50K
32557   40            Private  ...   United-States    >50K
32558   58            Private  ...   United-States   <=50K
32559   22            Private  ...   United-States   <=50K
32560   52       Self-emp-inc  ...   United-States    >50K

[32561 rows x 10 columns]

In [2]:
rows = data.shape[0]
for row in range(rows):
  # age: 5 years per class
  data.iloc[row,0] = data.iloc[row,0]//5
  # hours-per-week: 10 hrs per class
  data.iloc[row,7] = data.iloc[row,7]//10
  # income: 1: >50k, 0:<= 50k
  if data.iloc[row,9] == ' <=50K':
    data.iloc[row,9] = 0
  else:
    data.iloc[row,9] = 1
print(data)

       age          workclass  ...  native-country income
0        7          State-gov  ...   United-States      0
1       10   Self-emp-not-inc  ...   United-States      0
2        7            Private  ...   United-States      0
3       10            Private  ...   United-States      0
4        5            Private  ...            Cuba      0
...    ...                ...  ...             ...    ...
32556    5            Private  ...   United-States      0
32557    8            Private  ...   United-States      1
32558   11            Private  ...   United-States      0
32559    4            Private  ...   United-States      0
32560   10       Self-emp-inc  ...   United-States      1

[32561 rows x 10 columns]

In [3]:
! pip install apyori
import numpy as np
import matplotlib.pyplot as plt
from apyori import apriori

Collecting apyori
  Downloading apyori-1.1.2.tar.gz (8.6 kB)
Building wheels for collected packages: apyori
  Building wheel for apyori (setup.py) ... done
  Created wheel for apyori: filename=apyori-1.1.2-py3-none-any.whl size=5974 sha256=848e32f361c039bda922265796e6bda757bf4e6f880dbf68a17d0f2cadcd099e
  Stored in directory: /root/.cache/pip/wheels/cb/f6/e1/57973c631d27efd1a2f375bd6a83b2a616c4021f24aab84080
Successfully built apyori
Installing collected packages: apyori
Successfully installed apyori-1.1.2

In [4]:
rows = data.shape[0]
cols = data.shape[1]
attributes = list(data.columns)
dataList = []
for row in range(rows):
  oneRow = []
  for col in range(cols):
    oneRow.append(attributes[col]+':'+str(data.iloc[row,col]))
  dataList.append(oneRow)
print(dataList[0:10])

[['age:7', 'workclass: State-gov', 'education: Bachelors', 'marital-status: Never-married', 'occupation: Adm-clerical', 'race: White', 'sex: Male', 'hours-per-week:4', 'native-country: United-States', 'income:0'], ['age:10', 'workclass: Self-emp-not-inc', 'education: Bachelors', 'marital-status: Married-civ-spouse', 'occupation: Exec-managerial', 'race: White', 'sex: Male', 'hours-per-week:1', 'native-country: United-States', 'income:0'], ['age:7', 'workclass: Private', 'education: HS-grad', 'marital-status: Divorced', 'occupation: Handlers-cleaners', 'race: White', 'sex: Male', 'hours-per-week:4', 'native-country: United-States', 'income:0'], ['age:10', 'workclass: Private', 'education: 11th', 'marital-status: Married-civ-spouse', 'occupation: Handlers-cleaners', 'race: Black', 'sex: Male', 'hours-per-week:4', 'native-country: United-States', 'income:0'], ['age:5', 'workclass: Private', 'education: Bachelors', 'marital-status: Married-civ-spouse', 'occupation: Prof-specialty', 'race: Black', 'sex: Female', 'hours-per-week:4', 'native-country: Cuba', 'income:0'], ['age:7', 'workclass: Private', 'education: Masters', 'marital-status: Married-civ-spouse', 'occupation: Exec-managerial', 'race: White', 'sex: Female', 'hours-per-week:4', 'native-country: United-States', 'income:0'], ['age:9', 'workclass: Private', 'education: 9th', 'marital-status: Married-spouse-absent', 'occupation: Other-service', 'race: Black', 'sex: Female', 'hours-per-week:1', 'native-country: Jamaica', 'income:0'], ['age:10', 'workclass: Self-emp-not-inc', 'education: HS-grad', 'marital-status: Married-civ-spouse', 'occupation: Exec-managerial', 'race: White', 'sex: Male', 'hours-per-week:4', 'native-country: United-States', 'income:1'], ['age:6', 'workclass: Private', 'education: Masters', 'marital-status: Never-married', 'occupation: Prof-specialty', 'race: White', 'sex: Female', 'hours-per-week:5', 'native-country: United-States', 'income:1'], ['age:8', 'workclass: Private', 'education: Bachelors', 'marital-status: Married-civ-spouse', 'occupation: Exec-managerial', 'race: White', 'sex: Male', 'hours-per-week:4', 'native-country: United-States', 'income:1']]

In [5]:
rules = apriori(transactions = dataList, min_support = 0.02, min_confidence = 0.2, min_lift = 3, min_length = 3, max_length = 3)
print(rules)
results = list(rules)
results

def inspect(results):
    lhs         = [tuple(result[2][0][0]) for result in results]
    rhs         = [tuple(result[2][0][1]) for result in results]
    supports    = [result[1] for result in results]
    confidences = [result[2][0][2] for result in results]
    lifts       = [result[2][0][3] for result in results]
    return list(zip(lhs, rhs, supports, confidences, lifts))
resultsinDataFrame = pd.DataFrame(inspect(results), columns = ['Left Hand Side', 'Right Hand Side', 'Support', 'Confidence', 'Lift'])
resultsinDataFrame

<generator object apriori at 0x7f962404add0>

                                       Left Hand Side  ...       Lift
0                               (education: Masters,)  ...   3.852606
1                                    (occupation: ?,)  ...  17.667390
2                                            (age:3,)  ...   3.107999
3                                            (age:3,)  ...   3.112007
4                                            (age:3,)  ...   3.193190
5                                            (age:3,)  ...   3.223568
6                                            (age:4,)  ...   3.977625
7   (marital-status: Married-civ-spouse, education...  ...   3.204545
8                               (education: Masters,)  ...   3.827672
9                               (education: Masters,)  ...   3.882057
10                                   (occupation: ?,)  ...  17.667390
11                                   (occupation: ?,)  ...  17.667390
12                                   (occupation: ?,)  ...  17.667390
13                                   (occupation: ?,)  ...  17.667390
14                                   (occupation: ?,)  ...  17.667390
15                                   (occupation: ?,)  ...  17.667390
16                                   (occupation: ?,)  ...  17.667390

[17 rows x 5 columns]