In [40]:
import pandas as pd
# reading csv files
colTitles = ['age','workclass','fnlwgt','education','education-num'\
             ,'marital-status','occupation','relationship','race','sex'\
             ,'capital-gain','capital-loss','hours-per-week','native-country','income']
data =  pd.read_csv('adult.data', sep=",",names=colTitles)
print(data)

       age          workclass  fnlwgt  ... hours-per-week  native-country  income
0       39          State-gov   77516  ...             40   United-States   <=50K
1       50   Self-emp-not-inc   83311  ...             13   United-States   <=50K
2       38            Private  215646  ...             40   United-States   <=50K
3       53            Private  234721  ...             40   United-States   <=50K
4       28            Private  338409  ...             40            Cuba   <=50K
...    ...                ...     ...  ...            ...             ...     ...
32556   27            Private  257302  ...             38   United-States   <=50K
32557   40            Private  154374  ...             40   United-States    >50K
32558   58            Private  151910  ...             40   United-States   <=50K
32559   22            Private  201490  ...             20   United-States   <=50K
32560   52       Self-emp-inc  287927  ...             40   United-States    >50K

[32561 rows x 15 columns]

In [41]:
rows = data.shape[0]
for row in range(rows):
  # age: 5 years per class
  data.iloc[row,0] = data.iloc[row,0]//5
  # education-num: 3 years per class
  data.iloc[row,4] = data.iloc[row,4]//3
  # capital-gain: 1000 per class
  data.iloc[row,10] = data.iloc[row,10]//1000
  # capital-loss: 1000 per class
  data.iloc[row,11] = data.iloc[row,11]//1000
  # hours-per-week: 10 hrs per class
  data.iloc[row,12] = data.iloc[row,12]//10
  # income: 1: >50k, 0:<= 50k
  if data.iloc[row,14] == '<=50K':
    data.iloc[row,14] = 0
  else:
    data.iloc[row,14] = 1
print(data)

       age          workclass  fnlwgt  ... hours-per-week  native-country income
0        7          State-gov   77516  ...              4   United-States      1
1       10   Self-emp-not-inc   83311  ...              1   United-States      1
2        7            Private  215646  ...              4   United-States      1
3       10            Private  234721  ...              4   United-States      1
4        5            Private  338409  ...              4            Cuba      1
...    ...                ...     ...  ...            ...             ...    ...
32556    5            Private  257302  ...              3   United-States      1
32557    8            Private  154374  ...              4   United-States      1
32558   11            Private  151910  ...              4   United-States      1
32559    4            Private  201490  ...              2   United-States      1
32560   10       Self-emp-inc  287927  ...              4   United-States      1

[32561 rows x 15 columns]