In [13]:
import pandas as pd
# reading csv files
colTitles = ['age','workclass','fnlwgt','education','education-num'\
             ,'marital-status','occupation','relationship','race','sex'\
             ,'capital-gain','capital-loss','hours-per-week','native-country','income']
data =  pd.read_csv('adult.data', sep=",",names=colTitles)
data = data.drop(columns=['fnlwgt','education-num','relationship','capital-gain','capital-loss'])
print(data)

       age          workclass  ...  native-country  income
0       39          State-gov  ...   United-States   <=50K
1       50   Self-emp-not-inc  ...   United-States   <=50K
2       38            Private  ...   United-States   <=50K
3       53            Private  ...   United-States   <=50K
4       28            Private  ...            Cuba   <=50K
...    ...                ...  ...             ...     ...
32556   27            Private  ...   United-States   <=50K
32557   40            Private  ...   United-States    >50K
32558   58            Private  ...   United-States   <=50K
32559   22            Private  ...   United-States   <=50K
32560   52       Self-emp-inc  ...   United-States    >50K

[32561 rows x 10 columns]

In [14]:
rows = data.shape[0]
for row in range(rows):
  # age: 5 years per class
  data.iloc[row,0] = data.iloc[row,0]//5
  # hours-per-week: 10 hrs per class
  data.iloc[row,7] = data.iloc[row,7]//10
  # income: 1: >50k, 0:<= 50k
  if data.iloc[row,9] == ' <=50K':
    data.iloc[row,9] = 0
  else:
    data.iloc[row,9] = 1
print(data)

       age          workclass  ...  native-country income
0        7          State-gov  ...   United-States      0
1       10   Self-emp-not-inc  ...   United-States      0
2        7            Private  ...   United-States      0
3       10            Private  ...   United-States      0
4        5            Private  ...            Cuba      0
...    ...                ...  ...             ...    ...
32556    5            Private  ...   United-States      0
32557    8            Private  ...   United-States      1
32558   11            Private  ...   United-States      0
32559    4            Private  ...   United-States      0
32560   10       Self-emp-inc  ...   United-States      1

[32561 rows x 10 columns]