In [47]:
import pandas as pd
# reading csv files
colTitles = ['age','workclass','fnlwgt','education','education-num'\
             ,'marital-status','occupation','relationship','race','sex'\
             ,'capital-gain','capital-loss','hours-per-week','native-country','income']
data =  pd.read_csv('adult.data', sep=",",names=colTitles)
data = data.drop(columns=['fnlwgt','capital-gain','capital-loss'])
print(data)

       age          workclass  ...  native-country  income
0       39          State-gov  ...   United-States   <=50K
1       50   Self-emp-not-inc  ...   United-States   <=50K
2       38            Private  ...   United-States   <=50K
3       53            Private  ...   United-States   <=50K
4       28            Private  ...            Cuba   <=50K
...    ...                ...  ...             ...     ...
32556   27            Private  ...   United-States   <=50K
32557   40            Private  ...   United-States    >50K
32558   58            Private  ...   United-States   <=50K
32559   22            Private  ...   United-States   <=50K
32560   52       Self-emp-inc  ...   United-States    >50K

[32561 rows x 12 columns]

In [49]:
rows = data.shape[0]
for row in range(rows):
  # age: 5 years per class
  data.iloc[row,0] = data.iloc[row,0]//5
  # education-num: 3 years per class
  data.iloc[row,3] = data.iloc[row,3]//3
  # hours-per-week: 10 hrs per class
  data.iloc[row,9] = data.iloc[row,9]//10
  # income: 1: >50k, 0:<= 50k
  if data.iloc[row,11] == '<=50K':
    data.iloc[row,11] = 0
  else:
    data.iloc[row,11] = 1
print(data)

       age          workclass  ...  native-country  income
0        1          State-gov  ...   United-States       1
1       10   Self-emp-not-inc  ...   United-States       1
2        7            Private  ...   United-States       1
3       10            Private  ...   United-States       1
4        5            Private  ...            Cuba       1
...    ...                ...  ...             ...     ...
32556    5            Private  ...   United-States       1
32557    8            Private  ...   United-States       1
32558   11            Private  ...   United-States       1
32559    4            Private  ...   United-States       1
32560   10       Self-emp-inc  ...   United-States       1

[32561 rows x 12 columns]